.custom__btn {
    text-align: center;
    border: 2px solid var(--white);
    color: var(--white);
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 0.35rem;
    cursor: pointer;
    width: 70vw;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}

.custom__btn:hover {
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.2s;
}