.custom__input > input, .label{
    border: 2px solid var(--purple-grey);
    color: var(--white);
    background-color: var(--theme);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    margin-bottom: 2rem;
}

.label {
    color: var(--purple-grey) ;
    border: 2px dotted var(--white);
    text-align: center;
}

.custom__input > input:focus {
    outline: none;
    border-color: var(--white);
}

.custom__input > input::placeholder {
    color: var(--purple-grey);
}



